@import url("./import.css");

body
{
    font-family: "Montserrat", sans-serif;
}

/* -----------------HEADER SECTION----------------- */
header
{
    width: 100%;
}

.top-black
{
    background-color: var(--black);
    height: 3rem;
}

.top-black img
{
    position: fixed;
    top: 2%;
    left: 40%;
    width: 4rem;
    height: 4rem;
}

/* -----------------GRID SECTION----------------- */
.grid-container
{
    display: grid;
    margin: 4rem 1rem;
    gap: 1rem;
}

.grid-item
{
    background-color: var(--gray);
    border-radius: 10px;
    padding: 10px;
    transition: text-decoration 0.3s, color 0.3s;
}

.grid-item img
{
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.grid-item:hover img
{
    display: block;
}

.blank-circle
{
    border-radius: 100%;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.blank-circle.checked
{
    background-color: rgb(27, 167, 27);
    border: none;
    transform: scale(1.5);
    /* Increase size when checked */
}

.grid-item.checked
{
    text-decoration: line-through;
    color: rgba(44, 43, 43, 0.605);
}

.edit-icon.checked
{
    display: none;
}

.first-line,
.task-controls,
.info
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-controls
{
    gap: 5px;
}

.first-line
{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info
{
    gap: 5px;
}

.info p
{
    font-size: 14px;
    margin: 0 5px;
}

.info h6
{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

/* -----------------FOOTER SECTION----------------- */
.bottom-gray
{
    background: var(--gray);
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-gray img
{
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    bottom: 2%;
    left: 40%;
}

/* -----------------MODAL SECTION----------------- */
.modal
{
    position: fixed;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    z-index: 10;
    padding: 0.5rem;
    top: 15rem;
    left: 5%;
    right: 5%;
    /* display: none; */
}

.modal-header
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal-header img
{
    width: 2rem;
}

.modal-title
{
    font-size: 1.5rem;
}

.modal-content
{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 0.2rem 0;
    padding: 0.8rem 0;
}

.modal-buttons
{
    align-self: center;
}

.modal button
{
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

#cancelDeleteBtn
{
    background-color: rgba(255, 0, 0, 0.799);
}